*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.counter{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(69, 243, 156);
}

.btn{
  width: 2em;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px 15px;
  background-color: rgb(255, 0, 119);
  border-radius: 10px;
  border: none;
  color: white;
}

input{
  width: 5em;
  font-size: 1.5rem;
  padding: 8px;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}
